extends ../layout

block content        
    // property area
    .properties-area.recent-property(style='background-color: #FFF;')
        .container-fluid(style="text-align: center;")
            .row
                .col-md-2.pl0.padding-top-10
                    .pl0
                        .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
                            .panel-heading
                                h3.panel-title Smart search
                            .panel-body.search-widget
                                form.form-inline(action='search',method='get')                         
                .col-md-8.padding-top-10.properties-page            
                    .row.row-eq-height.col-container
                        .col-md-12
                            table(border="0" cellspacing="0" cellpadding="0" style="float:left; margin-right:10px;")
                                tr
                                    each property,i in properties
                                        if(i<3)

                                            td 
                                                .row
                                                    .proerty-th
                                                        .col-sm-12.col-md-12.p0
                                                            .box-two.proerty-item
                                                                .item-thumb(style="margin:1rem")
                                                                    a(href='/property/compare/'+property.slug)
                                                                        if(property.photo)
                                                                            img(src='/uploads/'+property.photo, style='width:100%; height:213px')
                                                                            div.fav-property
                                                                                a(href="#" title="Favourite it" class="btn btn-love btn-counter" rel=property._id, data-count="0")
                                                                                    i.fa.fa-2x.fa-heart(style='color:#000;')
                                                                        else
                                                                            img(src='assets/img/demo/property-1.jpg', style='width:100%; height:213px')
                                                                            div.fav-property
                                                                                a(href="#" title="Favourite it" class="btn btn-love btn-counter" )
                                                                                    i.fa.fa-2x.fa-heart(style='color:#000;')
                                    else
                                        | 
                                tr  
                                    td
                                        if(properties)
                                            if(properties.length<0)
                                                #container.col
                                                    .card(style='width: 100%')
                                                        ul.list-group.list-group-flush
                                                            li.list-group-item  
                                                                strong Price             
                                                            li.list-group-item 
                                                                strong City
                                                            li.list-group-item 
                                                                strong Suburb
                                                            li.list-group-item
                                                                strong Size /  Bedrooms and Bathrooms 
                                                            li.list-group-item
                                                                strong Amenities  
                                            else
                                                h2 Oops there is nothing to compare!
                                    each property in properties  
                                        if(i<3)
                                        
                                            td                            
                                                                
                                                #container.col
                                                    .card(style='width: 100%')
                                                        ul.list-group.list-group-flush
                                                            li.list-group-item 
                                                                if property.price 
                                                                    | #{property.price}
                                                                else  
                                                                    | N/A 
                                                                            
                                                            li.list-group-item 
                                                                if property.county
                                                                    | #{property.county}
                                                                else    
                                                                    | N/A
                                                            li.list-group-item
                                                                if property.surburb 
                                                                    | #{property.surburb}
                                                                else
                                                                    | N/A
                                                            if(property.size)  
                                                                li.list-group-item
                                                                    img(src="/assets/img/icon/size.png" style="width: 25px;")
                                                                    |   Size:  #{property.size}  #{property.units}
                                                            
                                                            else if (property.bedrooms && property.bathrooms)  
                                                                li.list-group-item
                                                                    span
                                                                        img(src="/assets/img/icon/bed.png" style="width: 25px;") 
                                                                        |   ( #{property.bedrooms} )   
                                                                    span
                                                                        img(src="/assets/img/icon/shower.png" style="width: 25px;")
                                                                        |   ( #{property.bathrooms}  )  
                                                            else
                                                                | N/A
                                                            if currentamenities
                                                                li.list-group-item      
                                                                    .section.additional-details
                                                                        h4.s-property-title.text-left
                                                                            strong Amenities
                                                                        .additional-details-list.clearfix
                                                                            each amenity in currentamenities
                                                                                div
                                                                                    span.col-xs-6.col-sm-6.col-md-3.add-d-entry
                                                                                    //i(class='fa fa-2x '+amenity.icon    
                                                            else
                                                               | N/A