extends ../layout

block content
  .content-area.submit-property(style='background-color: #FCFCFC;')
    .container
      .clearfix
        .wizard-container
          #wizardProperty.wizard-card.ct-wizard-orange
            form(action='/property/edit/'+property.id method='post',enctype="multipart/form-data")
              if(property)
                .wizard-header
                   h3
                        b Edit   
                           =property.name 
                        br
                        
                ul.nav.nav-pills(role="tablist")
                    li.active(style="width:25%")
                        a(href='#step1' role="tab" data-toggle='tab') Step 1 
                    li(style="width:25%")
                        a(href='#step2' role="tab" data-toggle='tab') Step 2 
                    li(style="width:25%")
                        a(href='#step3' role="tab" data-toggle='tab') Step 3 
                    li(style="width:25%")
                        a(href='#step4' role="tab" data-toggle='tab') Step 4 
                .tab-content
                    #step1.tab-pane.active
                        .row.p-b-15
                            h4.info-text  Let&apos;s start with the basic information
                            
                            .col-sm-12
                                .form-group
                                    label
                                        | Property name 
                                        small (required)
                                    input.form-control(name='propertyname' type='text' placeholder=property.name, value=property.name maxlength="30" required)
                                .form-group
                                    label
                                        | Property tagline 
                                        small (required)
                                    input.form-control(name='tagline', type='text', placeholder=property.tagline, value=property.tagline, maxlength="40", required)
                                .form-group
                                    label Property Description :
                                    textarea.form-control(name='description', placeholder=property.description)
                                        =property.description
                                
                                .form-group
                                    label 
                                        | Property Ownership  :
                                        small (required)
                                    select#basic.selectpicker.show-tick.form-control(name='ownership' value=property.ownership placeholder=property.ownership required)
                                        option(value=property.ownership) #{property.ownership}
                                        option(value='owner') Owner
                                        option(value='agent')  Agent
                                .form-group
                                    label
                                        | Email 
                                        small (required)
                                    input.form-control(name='email', type='text', placeholder=property.email, value=property.email, required)
                                .form-group
                                    label
                                        | Telephone (Format: +254 756 354 976)
                                        small (required)
                                    input.form-control(name='phone', type='text', placeholder=property.phone, value=property.phone, required)
                                .form-group
                                  .col-xs-6
                                    each phone in property.phones
                                      input.form-control(name='phones[]', type='text', placeholder=phone, value=phone)
                                    .input_fields_wrap
                                      button.add_field_button Add Phone No. 
                                      div
                    // End step 1
                    #step2.tab-pane
                        h4.info-text  How beautiful is your property?
                        .row
                            .col-sm-12
                                .form-group
                                        label 
                                            | Listing type  :
                                            small (required)
                                        select#basic.selectpicker.show-tick.form-control(name='type' required)
                                            option(value=property.type, selected) #{property.type}
                                            option(value='rent') Rent 
                                            option(value='sell')  Sale
                            .col-sm-12    
                                .form-group
                                    .row
                                       .col-xs-6
                                            label
                                                | Property price 
                                                small (required)
                                            input.form-control(name='propertyprice', id='myTexts', type='text', placeholder=property.price, value=property.price, required)
                                       .col-xs-6
                                            label.container-checkbox(style="font-size: inherit; margin-top: 4rem;")  Price on inquiry
                                                input(type='checkbox', id='checkMee', name='enquiry',value='enquiry', style='padding-left: 0;', onclick='disableMyText()')
                                                span.checkmark
                                    
                            .col-sm-12
                                .col-sm-6
                                    .form-group
                                        label Property County :
                                        select#lunchBegins.selectpicker(name="county",data-live-search='true' placeholder=property.county value=property.county  data-live-search-style='begins' title='Select your city' required)
                                            option(value=property.county selected="selected") 
                                              =property.county
                                            option(value='nairobi') Nairobi
                                            option(value='mombasa') Mombasa
                                            option(value='kisumu') Kisumu
                                            option(value='eldoret') Eldoret
                                            option(value='nakuru') Nakuru
                                            option(value='thika') Thika
                                            option(value='nyeri') Nyeri
                                            option(value='meru') Meru
                                            option(value='isiolo') Isiolo
                                            option(value='nanyuki') Nanyuki
                                            option(value='kiambu') Kiambu
                                .col-sm-6
                                    .form-group
                                    label Property Surburb :
                                    input.form-control#surburb(name='surburb' type='text' placeholder='Ruiru ...' required,value=property.surburb)
                            if (property.size)
                                .col-sm-12    
                                    .col-sm-6
                                        .form-group
                                            label(for='price-range') Size :
                                            input#size.span2(type='number', name="size", value=property.size )
                                    .col-sm-6
                                        .form-group
                                            label Unit:
                                            select#basic.selectpicker.show-tick.form-control(required, name='units')
                                                option(value=property.units selected="selected") 
                                                  =property.units
                                                option(value='acres') Acres
                                                option(value='hectares')  Hectares
                                                option(value='squaremeters')  Square Meters
                                                option(value='squarefeet')  Square Feet
                                                option(value='perches')  Perches
            
                                        br
                            .col-sm-12.padding-top-15
                                .col-sm-6
                                    .form-group
                                        label Property Type (E.g. Residential, Commercial ...) :
                                        select#cat.cat.form-control(data-live-search='true', data-live-search-style='begins', value=property.category ,name="category")
                                            option(value=property.category.id, selected)
                                              =property.category.name
                                            each category in categories
                                              option(data-icon='fa '+category.icon, value=category.id, rel=category.slug) 
                                                =category.name
                                .col-sm-6
                                    .form-group
                                        label Property Sub-type (E.g. Apartment, Maisonnette, Office ...) :
                                        select#subcat.form-control.subcat.show-tick(name='subcategory',data-live-search="true")
                                          option( selected,value=property.subcategory)
                                            =property.subcategory
                                          each category in categories
                                            each subcat in category.subcategories
                                              option(value=subcat.name, rel=category.name) 
                                                =subcat.name
                            .col-sm-12.padding-top-15
                                .col-sm-6
                                    .form-group
                                        label(for='property-geo') Bedrooms:
                                        input#bed.span2(type='number' value=property.bedrooms)
                                        br
                                .col-sm-6
                                    .form-group
                                        label(for='price-range') Bathrooms :
                                        input#baths.span2(type='number' value=property.bathrooms )
                                        br
                                
                            .col-sm-12.padding-top-15
                                .form-group
                                    label(for='property-geo') Property geo :
                                    .row 
                                        .form-group
                                          fieldset.gllpLatlonPicker
                                            .row
                                                .col-md-8
                                                input.gllpSearchField.form-control(type='text')
                                                .col-md-4
                                                input.gllpSearchButton.form-control.btn.btn-info(type='button', value='search', placeholder="search your city")
                                            .gllpMap(style="width: 100%; height: 300px;") Google Maps
                                            input#lati.gllpLatitude(type='hidden',value=property.map.lati, name='lati')
                                            input#long.gllpLongitude(type='hidden', value=property.map.long,name='long')
                                            input#zoom.gllpZoom(type='hidden',value=property.map.zoom,name='zoom')
                            .col-sm-12.padding-top-15
                                .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
                                    h5 
                                      strong
                                        | Select Ammenities if applicable
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Swimming Pool
                                            input(type='checkbox', name='amenities[]',value="Swimming Pool")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  CCTV
                                            input(type='checkbox', name='amenities[]',value="CCTV")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Emergency Exit
                                            input(type='checkbox', name='amenities[]',value="Emergency Exit")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Fire Place
                                            input(type='checkbox', name='amenities[]',value="Fire Place")
                                            span.checkmark
                                
                            .col-sm-12.padding-bottom-15
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Laundry Room
                                            input(type='checkbox', name='amenities[]',value="Laundry Room")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Jog Path
                                            input(type='checkbox', name='amenities[]',value="Jog Path")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Furnished
                                            input(type='checkbox', name='amenities[]',value="Furnished")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Serviced
                                            input(type='checkbox', name='amenities[]',value="Serviced")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Play Ground
                                            input(type='checkbox', name='amenities[]',value="Play Ground")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Parking
                                            input(type='checkbox', name='amenities[]',value="Parking")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Garden
                                            input(type='checkbox', name='amenities[]',value="Garden")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Gym
                                            input(type='checkbox', name='amenities[]',value="Gym")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Generator
                                            input(type='checkbox', name='amenities[]',value="Generator")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Borehole
                                            input(type='checkbox', name='amenities[]',value="Borehole")
                                            span.checkmark
                                
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Solar Panel
                                            input(type='checkbox', name='amenities[]',value="Solar Panel")
                                            span.checkmark
                                
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Club
                                            input(type='checkbox', name='amenities[]',value="Club")
                                            span.checkmark
                                
                            br
                    // End step 2
                    #step3.tab-pane
                        h4.info-text Give us some images and videos
                        .row
                            .col-sm-6
                                .form-group
                                    label
                                    | Click to edit cover image
                                    .picture-container
                                        .picture
                                            img#wizardPicturePreview.picture-src(src="/uploads/"+ property.photo title='')
                                            input#wizard-picture(type='file', name='photo', required)
                                .form-group
                                    label(for='property-images') Chose Images :
                                    input#property-images.form-control(type='file', name='gallery', placeholder='gallery', multiple)
                                    p.help-block Select multiple images for your property .
                            .col-sm-6
                                .form-group
                                    label(for='property-video') Property video: IMPORTANT input the whole video URL e.g (https://www.youtube.com/watch?v=Svhby3Rn7Oo)  
                                    input.form-control(value=property.youtube, placeholder='https://www.youtube.com/watch?v=Svhby3Rn7Oo' , name='youtube', type='text')
                    // End step 3
                    #step4.tab-pane
                      h4.info-text  Finish and submit
                        .row
                            .col-sm-12
                                div
                                    p
                                        label
                                            strong Terms and Conditions
                                        |                                                         By accessing or using  SOKO ESTATE services, such as
                                        |                                                         posting your property advertisement with your personal
                                        |                                                         information on our website you agree to the
                                        |                                                         collection, use and disclosure of your personal information
                                        |                                                         in the legal proper manner
                                    
                                    label.container-checkbox
                                        strong Accept terms and conditions.
                                        input(type='checkbox' required)
                                        span.checkmark
                    // End step 4
                .wizard-footer
                    .pull-right
                        input.btn.btn-next.btn-primary(type='button' name='next' value='Next')
                        input.btn.btn-finish.btn-primary(type='submit' name='finish' value='Finish')
                    .pull-left
                        input.btn.btn-previous.btn-default(type='button' name='previous' value='Previous')
                    .clearfix
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9MX39yDkMJn6rjWi6vt4Rens5u_cVBQE&sensor=false&libraries=places")
    script(src='/js/jquery.geocomplete.js')
    script.
      $(function(){
        $('form input').on('keypress', function(e) {
            return e.which !== 13;
        });
        $("#surburb").geocomplete()
          .bind("geocode:result", function(event, result){
            console.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            console.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            console.log("Multiple: " + results.length + " results found");
          });
        
        $("#find").click(function(){
          $("#surburb").trigger("geocode");
        });
        
        
        var max_fields      = 5; //maximum input boxes allowed
      	var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
      	var add_button      = $(".add_field_button"); //Add button ID
      	
      	var x = 1; //initlal text box count
      	$(add_button).click(function(e){ //on add input button click
      		e.preventDefault();
      		if(x < max_fields){ //max input box allowed
      			x++; //text box increment
      			$(wrapper).append('<div><input class="form-control" type="text" name="phones[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
      		}
      	});
      	
      	$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      		e.preventDefault(); $(this).parent('div').remove(); x--;
      	})
        
      });
    script(type='text/javascript').
        function disableMyText(){  
          if(document.getElementById("checkMee").checked == true){  
              document.getElementById("myTexts").disabled = true;  
          }else{
            document.getElementById("myTexts").disabled = false;
          }  
        }  
