extends ../layout

block content
  .content-area.submit-property(style='background-color: #FCFCFC;')
    .container
      .clearfix
        .wizard-container
          #wizardProperty.wizard-card.ct-wizard-orange
            form(action='/property/add' method='post',enctype="multipart/form-data")
                .wizard-header
                   h3
                        b Submit
                        |  YOUR PROPERTY 
                        br
                        
                ul.nav.nav-pills(role="tablist")
                    li.active(style="width:25%")
                        a(href='#step1' role="tab" data-toggle='tab') Step 1 
                    li(style="width:25%")
                        a(href='#step2' role="tab" data-toggle='tab') Step 2 
                    li(style="width:25%")
                        a(href='#step3' role="tab" data-toggle='tab') Step 3 
                    li(style="width:25%")
                        a(href='#step4' role="tab" data-toggle='tab') Step 4 
                .tab-content
                    #step1.tab-pane.active
                        .row.p-b-15
                            h4.info-text  Let&apos;s start with the basic information
                            
                            .col-sm-12
                                .form-group
                                    label
                                        | Property name 
                                        small (required)
                                    input.form-control(name='propertyname' type='text' placeholder='Super villa ...' maxlength="30" required)
                                .form-group
                                    label
                                        | Property tagline 
                                        small (required)
                                    input.form-control(name='tagline' type='text' placeholder='Short catchy description of your property ...', maxlength="45", required)
                                .form-group
                                    label 
                                        | Listing type  :
                                        small (required)
                                    select#basic.selectpicker.show-tick.form-control(name='type' required)
                                        option(value='rent') Rent 
                                        option(value='sale')  Sale
                                .form-group
                                    .row
                                        .col-md-6
                                            label
                                                | Property price 
                                                small (required)
                                            input.form-control(name='propertyprice' type='text' placeholder='3330000' required)
                                        .col-md-6
                                            label.container-checkbox(style="font-size: inherit; padding-top:1rem;")  Price on inquiry
                                                input(type='checkbox', name='enquiry',value="enquiry", style="padding-left: 0;")
                                                span.checkmark
                                .form-group
                                    label 
                                        | Property Ownership  :
                                        small (required)
                                    select#basic.selectpicker.show-tick.form-control(name='ownership' required)
                                        option(value='owner') Owner
                                        option(value='agent')  Agent
                                .form-group
                                    label
                                        | Email 
                                        small (required)
                                    input.form-control(name='email', type='text', placeholder=user.email, value=user.email,  required)
                                .form-group
                                    label 
                                        | Telephone (Format: +254 756 354 976)
                                        small (required)
                                    input.form-control(name='phone', type='text', placeholder=user.phone, value=user.phone, required)
                                .form-group
                                    label(for='ad_number')  
                                       input(type='checkbox' id='ad_number' class='form-control')
                                       |  Add more Numbers
                                    
                                    hr
                                    div.newNumbers(style='display: none')
                                        | Input the Number 2:
                                        input#txtNumber2.form-control(type='text')
                                        | Input the Number 3:
                                        input#txtNumber3.form-control(type='text')

                    // End step 1
                    #step2.tab-pane
                        h4.info-text  How beautiful is your property?
                        .row
                            .col-sm-12
                                .col-sm-12
                                    .form-group
                                        label Property Description :
                                        textarea.form-control(name='description' placeholder="Enter the description of your property here.")
                            .col-sm-12
                                .col-sm-6
                                    .form-group
                                        label Property County :
                                        select#lunchBegins.selectpicker(name="county",data-live-search='true' data-live-search-style='begins' title='Select your city' required)
                                            option(value='nairobi') Nairobi
                                            option(value='mombasa') Mombasa
                                            option(value='kisumu') Kisumu
                                            option(value='eldoret') Eldoret
                                            option(value='nakuru') Nakuru
                                            option(value='thika') Thika
                                            option(value='nyeri') Nyeri
                                            option(value='meru') Meru
                                            option(value='isiolo') Isiolo
                                            option(value='nanyuki') Nanyuki
                                            option(value='kiambu') Kiambu
                                .col-sm-6                                  
                                  .form-group
                                      label Property Surburb :
                                      input.form-control#surburb(name='surburb' type='text' placeholder='Ruiru ...' required)
                                      
                            .col-sm-12.padding-top-15
                                .col-sm-6
                                    .form-group
                                        label Property type ( E.g. Residential, Commercial ...) :
                                        select#cat.cat.form-control(data-live-search='true' data-live-search-style='begins' title='Select property category',name="category")
                                            option(value='')  Select Property type
                                            each category in categories
                                              option(data-icon='fa '+category.icon,value=category.id,rel=category.slug) 
                                                =category.name
                                .col-sm-6
                                    .form-group
                                        label Property Sub-type (E.g. Apartment, Maisonnette, Office ...) :
                                        select#subcat.form-control.subcat.show-tick(name='subcategory',data-live-search="true")
                                          option(value='')  Select Subcategory 
                                          each cat in categories
                                            each subcat in cat.subcategories
                                              option(value=subcat.name, rel=cat.name) 
                                                =subcat.name
                            .col-sm-12#residential
                                .col-sm-6
                                    .form-group
                                        label(for='price-range') Size :
                                        input#size.span2(type='number' value='1', name="size" )
                                .col-sm-6
                                    .form-group
                                        label Unit:
                                        select#basic.selectpicker.show-tick.form-control(required, name='units')
                                            option(value='acres') Acres
                                            option(value='hectares')  Hectares
                                            option(value='squaremeters')  Square Meters
                                            option(value='squarefeet')  Square Feet
                                            option(value='perches')  Perches
        
                                        br 
                            .col-sm-12.padding-top-15#others
                                .col-sm-6
                                    .form-group
                                        label(for='property-geo') Bedrooms:
                                        input#bed.span2(type='number' value='1',name="bedrooms")
                                        br
                                .col-sm-6
                                    .form-group
                                        label(for='price-range') Bathrooms :
                                        input#baths.span2(type='number' value='1',name="bathrooms" )
                                        br
                                
                            .col-sm-12.padding-top-15
                                .form-group
                                    label(for='property-geo') Property geo :
                                    .row 
                                        .form-group
                                            fieldset.gllpLatlonPicker
                                              .row
                                                  .col-md-8
                                                  input.gllpSearchField.form-control(type='text')
                                                  .col-md-4
                                                  input.gllpSearchButton.form-control.btn.btn-primary(type='button', value='search', placeholder="search your city")
                                              .gllpMap(style="width: 100%; height: 300px;") Google Maps
                                              input#lati.gllpLatitude(type='hidden', name='lati')
                                              input#long.gllpLongitude(type='hidden', name='long')
                                              input#zoom.gllpZoom(type='hidden',name='zoom')
                            .col-sm-12.padding-top-15
                                .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
                                    h5 
                                      strong
                                        | Select Ammenities if applicable
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Swimming Pool
                                            input(type='checkbox', name='amenities[]',value="Swimming Pool")
                                            span.checkmark

                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  CCTV
                                            input(type='checkbox', name='amenities[]',value="CCTV")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Emergency Exit
                                            input(type='checkbox', name='amenities[]',value="Emergency Exit")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Fire Place
                                            input(type='checkbox', name='amenities[]',value="Fire Place")
                                            span.checkmark
                                        
                            .col-sm-12.padding-bottom-15
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Laundry Room
                                            input(type='checkbox', name='amenities[]',value="Laundry Room")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Jog Path
                                            input(type='checkbox', name='amenities[]',value="Jog Path")
                                            span.checkmark

                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Furnished
                                            input(type='checkbox', name='amenities[]',value="Furnished")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Serviced
                                            input(type='checkbox', name='amenities[]',value="Serviced")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Play Ground
                                            input(type='checkbox', name='amenities[]',value="Play Ground")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Parking
                                            input(type='checkbox', name='amenities[]',value="Parking")
                                            span.checkmark
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Garden
                                            input(type='checkbox', name='amenities[]',value="Garden")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Gym
                                            input(type='checkbox', name='amenities[]',value="Gym")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Generator
                                            input(type='checkbox', name='amenities[]',value="Generator")
                                            span.checkmark

                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Borehole
                                            input(type='checkbox', name='amenities[]',value="Borehole")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Solar Panel
                                            input(type='checkbox', name='amenities[]',value="Solar Panel")
                                            span.checkmark
                                        
                                .col-sm-3
                                    .form-group
                                        label.container-checkbox  Club
                                            input(type='checkbox', name='amenities[]',value="Club")
                                            span.checkmark
                                        
                            br
                    // End step 2
                    #step3.tab-pane
                        h4.info-text Give us some images and videos
                        .row
                            .col-sm-6
                                .form-group
                                    label
                                    | Click to upload your property cover image *
                                    .picture-container
                                        .picture
                                            img#wizardPicturePreview.picture-src(src='/assets/img/default-property.jpg' title='')
                                            input#wizard-picture(type='file', name='photo', required)
                                .form-group
                                    label(for='property-images') Upload other property images :
                                    input#property-images.form-control(type='file', name='gallery', placeholder='gallery', multiple='')
                                    p.help-block Select multiple images for your property .
                            .col-sm-6
                                .form-group
                                    label(for='property-video') Property video :
                                    input.form-control( placeholder='http://www.youtube.com or http://vimeo.com' name='youtube' type='text')
                                
                    // End step 3
                    #step4.tab-pane
                      h4.info-text  Finish and submit
                        .row
                          .col-sm-12
                            div
                                p
                                    label
                                        strong Terms and Conditions
                                    |                                                         By accessing or using  SOKO ESTATE services, such as
                                    |                                                         posting your property advertisement with your personal
                                    |                                                         information on our website you agree to the
                                    |                                                         collection, use and disclosure of your personal information
                                    |                                                         in the legal proper manner
                                
                                label.container-checkbox
                                    strong Accept terms and conditions.
                                    input(type='checkbox')
                                    span.checkmark
                    // End step 4
                .wizard-footer
                    .pull-right
                        input.btn.btn-next.btn-primary(type='button' name='next' value='Next')
                        input.btn.btn-finish.btn-primary(type='submit' name='finish' value='Finish')
                    .pull-left
                        input.btn.btn-previous.btn-default(type='button' name='previous' value='Previous')
                    .clearfix
                    
    
    
    //script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script.
      $(function(){
        $('form input').on('keypress', function(e) {
            return e.which !== 13;
        });
      });
