extends layout

block content
  .container-fluid
    .slider-area
      .slider
        .item
          img(src='assets/img/slide1/sokoestate1.jpg' alt='GTA V' style='height:38rem; width:100%;')
          //
            <div id="bg-slider" class="owl-carousel owl-theme">
            <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            </div>
      .slider-content
        .row
          .col-md-12.col-xs-12
            .search-form.wow.pulse(data-wow-delay='0.8s')
              h2 Find Property in Kenya
              form.form-inline(action='search',method='get')
                .row
                  .col-md-12(style='padding-right: 0px; padding-left: 0px;')
                    .btn-group(style='float: left; padding-left: 2rem;')
                      each cat, i in categories
                        button(type="button" class="btn btn-primary btn-search")
                          label
                            input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                            =cat.name
                      button(type="button" class="btn btn-primary btn-search")
                        label
                          input(type="radio" name="category" style="display:none !important")
                          | Upcoming

                //.row(style='margin-right: 0px;  margin-left: 0px;')
                  each cat, i in categories
                    .col-md-3.col-xs-3(style='padding-right: 0px; padding-left: 0px;')
                      label.property-search
                        
                          input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                          .welcome-estate(style="padding:0")
                            .welcome-icon
                              =cat.name
                              //i.pe-7s-home.pe-4x
                                
                  .col-md-3.col-xs-3(style='padding-right: 0px; padding-left: 0px;')
                    label.property-search
                      
                        input(type="radio" name="category" style="display:none !important")
                        .welcome-estate(style="padding:0")
                            .welcome-icon
                              | Upcoming
                              //i.pe-7s-home.pe-4x
                        
                .row
                  .col-xs-6(style="margin-top:1rem")
                    .switch-field
                      input#switch_left(type='radio' name='type' value='sale' checked='')
                      label(for='switch_left') For Sale
                      input#switch_right(type='radio' name='type' value='rent')
                      label(for='switch_right') For Rent
                  .col-xs-6(style="margin-top:1rem")
                      select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Location', name="city")
                        option New york, CA
                        option Paris
                        option Casablanca
                        option Tokyo
                        option Marraekch
                        option kyoto , shibua
                  
                .row
                  .col-xs-6
                    select#basic.show-tick.form-control(title='Select Property Subcategory',name="subcategory")
                      option(class='status',value='') Property Category
                      each cat in categories
                        each subcat in cat.subcategories
                          option(class='category iradio_square-yellow',value=subcat.name,rel=cat.name) 
                            =subcat.name
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" id="minprice" class="form-control" placeholder="Max Price",name="manprice")
                  
                .row(class='others')
                    .col-xs-8(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="Size",name="size")
                            
                    .col-xs-4(style="margin-top:1rem")
                      select#basic.selectpicker.show-tick.form-control(data-live-search='true' data-live-search-style='begins')
                        option  Acre
                        option Hectares 
                        option m2
                        option SqF
                .row(class='residential')
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="No.BEDROOMS",name="bedrooms")
                      
                  .col-xs-6(style="margin-top:1rem")
                    input(type="text" class="form-control" placeholder="No.BATHROOMS",name="bathrooms")
                .row
                  .col-xs-12(style="margin-top:1rem")
                    a(href="#")
                      button.btn.search-btn.hide-search.text-center(type='submit')
                        i.fa.fa-search
                        |     Search
                //.row
                  .col-md-6
                    span(class="btn-info hide-me" id="#hide" data-toggle="collapse" data-target="#demo" style="float:left")
                      i.fa.fa-chevron-down
                      |    More Search Options
                    
                    br
                    div(id="demo" class="collapse")
                      .row
                        .col-md-4(style="margin-top:1rem")
                          select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                            option General features
                            option Apartment
                            option Warehouse
                            option Bungalow 
                        .col-md-4(style="margin-top:1rem")
                          select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                            option Outdoor features
                            option Apartment
                            option Warehouse
                            option Bungalow
                        .col-md-4(style="margin-top:1rem")
                          select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                            option Internal features
                            option Apartment
                            option Warehouse
                            option Bungalow   
                      div.row  
                        .col-md-12(style="margin-top:1rem") 
                            a(href="#")
                              button.btn.search-btn.hide-search.text-center(type='submit')
                                i.fa.fa-search
                                |     Search 
                                
                      .row
                        .col-md-6(style="margin-top:1rem")
                          span(class="btn-info" data-toggle="collapse" data-target="#demo")
                            i.fa.fa-chevron-up
                            |    Less Search Options
                        
    //partner logo
  .container(style="background:#fff;")
    h2 Our Partners
    br
    section.customer-logos.slider(style="margin-top:10px;margin-bottom:10px;")
      .slide
        img(src='https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg' style='width:90px; height:90px')
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Top submitted property
      .row
        .proerty-th
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-1.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-tree.more-proerty.text-center
              .item-tree-icon
                i.fa.fa-th
              .more-entry.overflow
                h5
                  a(href='property-1.html') CAN&apos;T DECIDE ? 
                h5.tree-sub-ttl Show all properties
                button.btn.border-btn.more-black(value='All properties') All properties
  // Welcome area
  .Welcome-area
    .container
      .row
        .col-md-12.Welcome-entry.col-sm-12
          .col-md-5.col-md-offset-2.col-sm-6.col-xs-12
            .welcome_text.wow.fadeInLeft(data-wow-delay='0.1s' data-wow-offset='100')
              .row
                .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
                  // /.feature title
                  h2 SOKO ESTATE 
          .col-md-5.col-sm-6.col-xs-12
            //.welcome_services.wow.fadeInRight(data-wow-delay='0.1s' data-wow-offset='100')
            .welcome_services
              .row
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-home.pe-4x
                    h3 Any property
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-users.pe-4x
                    h3 More Clients
                .col-xs-12.text-center
                  i.welcome-circle
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-notebook.pe-4x
                    h3 Easy to use
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-help2.pe-4x
                    h3 Any help 
  
  
  // boy-sale area
  .boy-sale-area
    .container
      .row
        .col-md-6.col-sm-10.col-sm-offset-1.col-md-offset-0.col-xs-12
          .asks-first
            .asks-first-circle
              span.fa.fa-search
            .asks-first-info
              h2 ARE YOU LOOKING FOR A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-md-6.col-sm-10.col-sm-offset-1.col-xs-12.col-md-offset-0
          .asks-first
            .asks-first-circle
              span.fa.fa-usd
            .asks-first-info
              h2 DO YOU WANT TO SELL A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
