extends layout

block content
  .container-fluid
    .slider-area
      .slider
        .item
          img(src='assets/img/slide1/sokoestate1.jpg' alt='GTA V' style='height:38rem; width:100%;')
         
      .slider-content
        .row
          .col-md-12.col-xs-12
            .search-form.wow.pulse(data-wow-delay='0.8s')
              h2 Find Property in Kenya
              form.form-inline(action='search',method='get')
                .row
                  .col-md-12(style='padding-right: 0px; padding-left: 0px;')
                    .btn-group(style='float: left; padding-left: 2rem;')
                      each cat, i in categories
                        if(cat.order == 1)
                          input(type="radio", id="check1", class="radio-custom", name="category", checked="checked", value=cat.id, rel=cat.slug, style="display:none; position absolute")
                          label(for="check1" type="button" class="btn btn-primary btn-search")
                            =cat.name
                        else
                          input(type="radio", id="check2", class="radio-custom", name="category", checked="", value=cat.id, rel=cat.slug, style="display:none; position absolute")
                          label(for="check2" type="button" class="btn btn-primary btn-search") 
                            =cat.name
                        //if(i>4 && i<6)
                          a(href='')
                            button(type="button" class="btn btn-primary btn-search")
                              label
                                input(type="radio" class="radio-custom" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                                =cat.name
                            
                
                .row
                  .col-xs-6(style="margin-top:1rem")
                    .switch-field
                      input#switch_left(type='radio' name='type' value='sale' checked='')
                      label(for='switch_left') For Sale
                      input#switch_right(type='radio' name='type' value='rent')
                      label(for='switch_right') For Rent
                  .col-xs-6(style="margin-top:1rem")
                    input.form-control#surburb(name='surburb' type='text' placeholder='Enter a locacation...')
                    //select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Location', name="city")
                      
                  
                .row
                  .col-xs-6(style="margin-top:1rem")
                    select#basic.show-tick.form-control(title='Select Property Sub-type',name="subcategory")
                      option(class='status',value='') Choose Property Sub-type
                      each cat in categories
                        each subcat in cat.subcategories
                          option(class='category iradio_square-yellow',value=subcat.name,rel=cat.name) 
                            =subcat.name
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" id="minprice" class="form-control" placeholder="Max Price",name="manprice")
                  
                .row(class='others')
                    .col-xs-8(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="Size",name="size")
                            
                    .col-xs-4(style="margin-top:1rem")
                      select#basic.selectpicker.show-tick.form-control(data-live-search='true' data-live-search-style='begins')
                        option  Acre
                        option Hectares 
                        option m2
                        option SqF
                .row(class='residential')
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="No.BEDROOMS",name="bedrooms")
                      
                  .col-xs-6(style="margin-top:1rem")
                    input(type="text" class="form-control" placeholder="No.BATHROOMS",name="bathrooms")
                .row
                  .col-xs-12(style="margin-top:1rem")
                    a(href="#")
                      button.btn.search-btn.hide-search.text-center(type='submit')
                        i.fa.fa-search
                        |     Search
                
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px; margin-top:5rem')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Featured Properties
      .row
        each feat, i in featured
          if(i<6)
            .proerty-th
              .col-sm-6.col-md-4.p0
                .box-two.proerty-item
                  .item-thumb
                    a(href='/property/'+feat.slug)
                      if(feat.photo)
                        img(src='/uploads/'+feat.photo, style='width:100%; height:213px')
                        div.fav-property
                          a(href="#" title="Favourite it" class="btn btn-love btn-counter" rel=feat._id, data-count="0")
                            i.fa.fa-2x.fa-heart(style='color:#000;')
                      else
                        img(src='assets/img/demo/property-2.jpg', style='width:100%; height:213px')
                        div.fav-property
                          a(href="#" title="Favourite it" class="btn btn-love btn-counter" rel=feat._id, data-count="0")
                            i.fa.fa-2x.fa-heart(style='color:#000;')
                  .item-entry.overflow
                    a(href='/property/'+feat.slug)
                      small
                        | #{feat.subcategory} for #{feat.type} in 
                        span
                          | #{feat.county} , 
                        span #{feat.surburb}
                    .dot-hr
                      span.pull-left
                        if(feat.size)
                          img(src="/assets/img/icon/size.png" style="width: 25px;")
                          small
                            |   ( Size:  #{feat.size}  #{feat.units})
                        else if (feat.bedrooms && feat.bathrooms)
                          span
                            img(src="/assets/img/icon/bed.png" style="width: 25px;") 
                            small
                              |   ( #{feat.bedrooms} )   
                          span
                            img(src="/assets/img/icon/shower.png" style="width: 25px;")
                            small
                              |   ( #{feat.bathrooms}  )  
                         
                      span.proerty-price.pull-right 
                        table#price-property.table
                          tr
                            td 
                              small #{feat.price}  
                     
                          
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Recently added properties
      .row.row-eq-height.col-container
        each rec, i in recents
          if(i<6)
            .proerty-th
              .col-sm-6.col-md-4.py
                .box-two.proerty-item
                  .item-thumb
                    a(href='/property/'+rec.slug)
                      if(rec.photo)
                        img(src='/uploads/'+rec.photo, style='width:100%; height:213px')
                        div.fav-property
                          a(href="#" title="Favourite it" class="btn btn-love btn-counter" rel=rec._id, data-count="0")
                            i.fa.fa-2x.fa-heart(style='color:#000;')
                      else
                        img(src='assets/img/demo/property-1.jpg', style='width:100%; height:213px')
                        div.fav-property
                          a(href="#" title="Favourite it" class="btn btn-love btn-counter" rel=rec._id, data-count="0")
                            i.fa.fa-2x.fa-heart(style='color:#000;')
                
                  .item-entry.overflow
                    .item-entry.overflow
                      a(href='/property/'+rec.slug)
                        small
                          | #{rec.subcategory} for #{rec.type} in 
                          span
                            | #{rec.county} , #{rec.surburb}
                    .dot-hr
                      span.pull-left
                        if(rec.size)
                          img(src="/assets/img/icon/size.png" style="width: 25px;")
                          small
                            |   ( Size:  #{rec.size}  #{rec.units})
                        else if (rec.bedrooms && rec.bathrooms)
                          span
                            img(src="/assets/img/icon/bed.png" style="width: 25px;")
                            small 
                              |   ( #{rec.bedrooms} )   
                          span
                            img(src="/assets/img/icon/shower.png" style="width: 25px;")
                            small
                              |   ( #{rec.bathrooms}  )  
                         
                      span.proerty-price.pull-right 
                        table#price-property.table
                          tr
                            td
                              small #{rec.price}  
                    
      
      
  //partner logo
  .container(style="background:#fff;")
    h2 Our Partners
    br
    section.customer-logos.slider(style="margin-top:10px;margin-bottom:10px;")
      .slide
        a(href='https://www.findit.ke/')
          img(src='/images/ourpatners/findit-red-logo.png' style='width:90px;')
      .slide
        a(href='https://www.sokompare.com/')
          img(src='/images/ourpatners/sokomparelogo.png' style='width:90px;')
      
  // boy-sale area
  .boy-sale-area
    .container
      .row
        .col-md-6.col-sm-10.col-sm-offset-1.col-md-offset-0.col-xs-12
          .asks-first
            .asks-first-circle
              span.fa.fa-search
            .asks-first-info
              h2 Latest Property news
              p
                |
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-md-6.col-sm-10.col-sm-offset-1.col-xs-12.col-md-offset-0
          .asks-first
            .asks-first-circle
              span.fa.fa-usd
            .asks-first-info
              h2 Soko Estate Blog
              p
                | 
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        
  
