extends layout

block content
  .container-fluid
    .slider-area
      .slider
        .item
          img(src='assets/img/slide1/sokoestate1.jpg' alt='GTA V' style='height:38rem; width:100%;')
          //
            <div id="bg-slider" class="owl-carousel owl-theme">
            <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            </div>
      .slider-content
        .row
          .col-md-12.col-xs-12
            .search-form.wow.pulse(data-wow-delay='0.8s')
              h2 Find Property in Kenya
              form.form-inline(action='search',method='get')
                .row
                  .col-md-12(style='padding-right: 0px; padding-left: 0px;')
                    .btn-group(style='float: left; padding-left: 2rem;')
                      each cat, i in categories
                        if(i<4)
                          button(type="button" class="btn btn-primary btn-search")
                            label
                              input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                              =cat.name
                        if(i>3 && i<5)
                          a(href='')
                            button(type="button" class="btn btn-primary btn-search")
                              label
                                input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                                =cat.name
                        if(i>4 && i<6)
                          a(href='')
                            button(type="button" class="btn btn-primary btn-search")
                              label
                                input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                                =cat.name
                            
                
                .row
                  .col-xs-6(style="margin-top:1rem")
                    .switch-field
                      input#switch_left(type='radio' name='type' value='sale' checked='')
                      label(for='switch_left') For Sale
                      input#switch_right(type='radio' name='type' value='rent')
                      label(for='switch_right') For Rent
                  .col-xs-6(style="margin-top:1rem")
                      select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Location', name="city")
                        option New york, CA
                        option Paris
                        option Casablanca
                        option Tokyo
                        option Marraekch
                        option kyoto , shibua
                  
                .row
                  .col-xs-6(style="margin-top:1rem")
                    select#basic.show-tick.form-control(title='Select Property Subcategory',name="subcategory")
                      option(class='status',value='') Property Category
                      each cat in categories
                        each subcat in cat.subcategories
                          option(class='category iradio_square-yellow',value=subcat.name,rel=cat.name) 
                            =subcat.name
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" id="minprice" class="form-control" placeholder="Max Price",name="manprice")
                  
                .row(class='others')
                    .col-xs-8(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="Size",name="size")
                            
                    .col-xs-4(style="margin-top:1rem")
                      select#basic.selectpicker.show-tick.form-control(data-live-search='true' data-live-search-style='begins')
                        option  Acre
                        option Hectares 
                        option m2
                        option SqF
                .row(class='residential')
                  .col-xs-6(style="margin-top:1rem")
                      input(type="text" class="form-control" placeholder="No.BEDROOMS",name="bedrooms")
                      
                  .col-xs-6(style="margin-top:1rem")
                    input(type="text" class="form-control" placeholder="No.BATHROOMS",name="bathrooms")
                .row
                  .col-xs-12(style="margin-top:1rem")
                    a(href="#")
                      button.btn.search-btn.hide-search.text-center(type='submit')
                        i.fa.fa-search
                        |     Search
                
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Featured Properties
      .row
        each feat, i in featured
          if(i<8)
            .proerty-th
              .col-sm-6.col-md-3.p0
                .box-two.proerty-item
                  .item-thumb
                    a(href='/property/'+feat.slug)
                      if(feat.photo)
                        img(src='/uploads/'+feat.photo, style='width:100%; height:213px')
                      else
                        img(src='assets/img/demo/property-2.jpg')
                  .item-entry.overflow
                    h5
                      a(href='/property/'+feat.slug)
                        small 
                          =feat.name
                    .dot-hr
                    span.pull-left
                      if(feat.size)
                        b Size
                        =feat.size
                      else if (feat.bedrooms && feat.bathrooms)
                        b
                         span Bedrooms
                         =feat.bedrooms
                         span Bathrooms
                         =feat.bathrooms
                          
                    span.proerty-price.pull-right 
                      table#price-property.table
                        tr
                          td #{feat.price}    
                        
        .col-sm-6.col-md-3.p0
            .box-tree.more-proerty.text-center
              .item-tree-icon
                i.fa.fa-th
              .more-entry.overflow
                h5
                  a(href='/property') CAN&apos;T DECIDE ? 
                h5.tree-sub-ttl View all properties
                button.btn.border-btn.more-black(value='All properties') All properties
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Recently added properties
      .row
        each rec, i in recents
          if(i<9)
            .proerty-th
              .col-sm-6.col-md-3.p0
                .box-two.proerty-item
                  .item-thumb
                    a(href='/property/'+rec.slug)
                      if(rec.photo)
                        img(src='/uploads/'+rec.photo, style='width:100%; height:213px')
                      else
                        img(src='assets/img/demo/property-1.jpg')
                  .item-entry.overflow
                    h5
                      a(href='/property/'+rec.slug)
                        small 
                          =rec.name
                    .dot-hr
                    span.pull-left
                      if(rec.size)
                        b Size
                        =rec.size
                      else if (rec.bedrooms && rec.bathrooms)
                        b
                         span Bedrooms
                         =rec.bedrooms
                         span Bathrooms
                         =rec.bathrooms    
                    span.proerty-price.pull-right 
                      table#price-property.table
                        tr
                          td #{rec.price}
                          
      
      
  //partner logo
  .container(style="background:#fff;")
    h2 Our Partners
    br
    section.customer-logos.slider(style="margin-top:10px;margin-bottom:10px;")
      .slide
        img(src='https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg' style='width:90px; height:90px')
      .slide
        img(src='https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg' style='width:90px; height:90px')
  
  // boy-sale area
  .boy-sale-area
    .container
      .row
        .col-md-6.col-sm-10.col-sm-offset-1.col-md-offset-0.col-xs-12
          .asks-first
            .asks-first-circle
              span.fa.fa-search
            .asks-first-info
              h2 Latest Property news
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-md-6.col-sm-10.col-sm-offset-1.col-xs-12.col-md-offset-0
          .asks-first
            .asks-first-circle
              span.fa.fa-usd
            .asks-first-info
              h2 Soko Estate Blog
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        
  