extends ../backendlayout
block content    
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .container-fluid
            // MAIN CONTENT
            .main-content(style="padding-top: 50px;")
              .section__content.section__content--p30
                h4
                  |  Update Profile
                br
                form(method="post", action="/users/editprofile",enctype="multipart/form-data")
                  .row
                    .col-md-12
                      h3(style="color:#04045a;")
                        | Social Media Profile
                  .row
                    .col-md-8
                      .form-group
                        label 
                          | Full Name
                        input.form-control(type='text', placeholder='Names', name='names',value=user.names)
                      .form-group  
                        label 
                          | Organisation
                        input.form-control(type='text', placeholder='Enter your Organization Name')
                      .form-group  
                        label 
                          | Email Address
                        input.form-control(type='text', placeholder='example@findit.ke', name='email',value=user.email)
                      .form-group  
                        label 
                          | Phone Number
                        input.form-control(type='text', placeholder='254710345130', name='phone',value=user.phone)
                      .form-group
                        .input_fields_wrap
                            button.add_field_button.btn(style="color:#04045a;") Add Phone Number 
                            div
                    .col-md-4.text-center
                        .form-group
                          label
                            | Click to upload your cover image *
                          .picture-container
                              .picture(style='padding:1rem')
                                  img#wizardPicturePreview.picture-src(src='/images/icon/user.png', title=user.name, alt=user.name)
                                  input#wizard-picture(type='file', name='photo', style='padding:1rem')
                  .row
                      .col-md-12
                        h3(style="color:#04045a;")
                          | Social Media Profile
                      .col-md-12
                        .form-group  
                          input#twitter.form-control(type='text', placeholder='Twitter', name='twitter', value=user.twitter)
                        .form-group  
                          input#facebook.form-control(type='text', placeholder='Facebook', name='facebook', value=user.facebook)
                        .form-group 
                          input#instagram.form-control(type='text', placeholder='Instagram', name='instagram', value=user.instagram)
                        
                        
                        button.btn.btn-primary.w3ls-btn(type='submit' style="margin-top:2px;") 
                          |  Update Profile
