extends ../backendlayout
block content    
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .container-fluid
            // MAIN CONTENT
            .main-content(style="padding-top: 50px;")
              .section__content.section__content--p30
                h4
                  |  Update Profile
                br
                form(method="post", action="/users/editprofile",enctype="multipart/form-data")
                  .form-group
                    input.form-control(type='text', placeholder='Names', name='names',value=user.names)
                    input.form-control(type='text', placeholder='254710345130', name='phone',value=user.phone)
                    input#twitter.form-control(type='text', placeholder='Twitter', name='twitter', value=user.twitter)
                    input#facebook.form-control(type='text', placeholder='Facebook', name='facebook', value=user.facebook)
                    input#instagram.form-control(type='text', placeholder='Instagram', name='instagram', value=user.instagram)
                    button.btn.btn-primary.w3ls-btn(type='submit' style="margin-top:2px;") 
                      |  Update
